<p id="notice"><%= notice %></p>

<p>
  <b>Employee:</b>
  <%= Employee.find(@comment.employee_id).name %>
</p>

<p>
  <b>Project:</b>
  <%= Project.find(@comment.project_id).name %>
</p>

<p>
  <b>Body:</b>
  <%= @comment.body %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
