<%= form_for @project, :html => {:multipart => true } do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= select("project", :status, options_for_select([['Active','Active'],['Closed','Closed'],['Pending','Pending'],['Waiting','Waiting']],@project.status)) %>
  </div>

  <div>
    <label>Project Team:</label>
    <% for employee in Employee.find(:all) %>
    <div>
      <%= check_box_tag "project[employee_ids][]", employee.id, @project.employees.include?(employee) %>
      <%= employee.name %>
    </div>    
    <% end %>
  </div>
  <br />  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
