<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @project.number %>
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Status:</b>
  <%= @project.status %>
</p>

<p>
	<b>Team:</b>
	<ul>
	<% @employees.each do |em| %>
		<li><%= link_to em.name, em %> - <%= em.department %></li>
	<% end %>		
	</ul>
</p>

<p>
	<b>Comments:</b>
	<% @comments.each do |c| %>
		<% @d = c.created_at %>
		<dt><%= c.body %></dt>
		<dd><%= Employee.find(c.employee_id).name %> on <%= @d %></dd>
	<% end %>
	<% if current_employee %>
	<%= link_to "Add Comment", new_comment_path(:project_id => @project.id, :employee_id => current_employee.id) %>
	<% end %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
