<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @project.number %>
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Status:</b>
  <%= @project.status %>
</p>

<p>
	<b>Revit Model:</b>
	<% if @project.rvtmodel_file_name.nil? %>
	<span class="nil">No File Found, upload one.</span>
	<% else %>
		<%= @project.rvtmodel_file_name %> (<%= @fileSize = (@project.rvtmodel_file_size/1000000 ) %> MB) |
	Last upload: <%= @project.rvtmodel_updated_at %>
		<%= link_to "Download", @project.rvtmodel.url %>
	<% end %>
</p>

<p>
	<b>Team:</b>
	<ul>
	<% @employees.each do |em| %>
		<li><%= link_to em.name, em %> - <%= em.department %> | <%= "Send Message" %></li>
	<% end %>		
	</ul>
</p>

<p>
	<b>RFIs:</b>
	<ul>
	<% @rfis.each do |r| %>
		<li><%= link_to r.number, r %> - <%= r.title %> <% if r.rfipdf_file_name.nil? %> <%else %> | <%=link_to "PDF", r.rfipdf.url %><% end %></li>
	<% end %>
	</ul>
</p>

<p>
	<b>Comments:</b>
	<% @comments.each do |c| %>
		<% @d = distance_of_time_in_words_to_now(c.created_at) %>
		<div class="comment">
		<dt><%= c.body %></dt>
		<dd><%= Employee.find(c.employee_id).name %>, <%= @d %> ago</dd>
		</div>
	<% end %>
	<% if current_employee %>
	<%= link_to "Add Comment", new_comment_path(:project_id => @project.id, :employee_id => current_employee.id) %>
	<% end %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
